/**
 * Layout
 * 
*/

/**
 * Header
 *
*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: @zindex-navbar-fixed;
  background-color: transparent;
  .transition(.4s ease all);
  -webkit-transform: translateZ(0);

  &.sticky-header {
    top: 0 !important;
    background-color: @md-clr-blue-grey;
    .box-shadow-matterial();

    .breadcrumbs {
      opacity: 1;
      visibility: visible;
    }

    .mt-header-logo{
      opacity: 0;
      visibility: hidden;
    }

  }
}

.admin-bar .site-header{
  top: 32px;

  &.sticky-header {
    top: 32px !important;
  }

  @media (max-width: 782px) {
    top: 46px;

    &.sticky-header {
      top: 46px !important;
    }
  }

  @media (max-width: 600px) {
    top: 46px;

    &.sticky-header {
      top: 0 !important;
    }
  }
}

.header-btn {
  color: #fff;
  font-size: @icon-size;
  width: @touch-target-size;
  height: @touch-target-size;
  line-height: @touch-target-size;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: @icon-margin 0;

  //Waves Effect
  .waves-transform(translateZ(0));

  &:focus,
  &:hover {
    color: #fff;
  }
}

/*
 * Header Logo
 *
*/
.mt-header-logo {
  position: absolute;
  left: (@touch-target-size * 1.4);
  right: (@touch-target-size * 1.4);
  margin: @icon-margin 0;
  opacity: 1;
  visibility: visible;
  .transition(.4s ease opacity);

  a {
    display: inline-block;
    color: #fff;
  }

  img {
    width: auto;
    max-height: 48px;
  }

  h1 {
    font-size: @icon-size;
    line-height: @touch-target-size;
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

/*
 * Site Sidebars
 *
*/
.mt-sidebar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: @zindex-sidebars;
  opacity: 0;
  visibility: hidden;
  .transition(.2s ease all);

  @media (max-width: 600px) {
    z-index: 100000;
  }

  .mt-sidebar-content {
    position: absolute;
    max-width: @sidebar-size-lg;
    width: 100%;
    bottom: 0;
    top: 0;
    background-color: #fff;
    .box-shadow-matterial(3);
  }

  .mt-sidebar-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
}

.admin-bar .mt-sidebar-wrapper {
  top: 32px;

  @media (max-width: 782px) {
    top: 46px;
  }

  @media (max-width: 600px) {
    top: 0;
  }
}

.mt-main-sidebar-active,
.mt-shop-sidebar-active {
  overflow: hidden;
}

.mt-shop-sidebar-active .mt-shop-sidebar,
.mt-main-sidebar-active .mt-main-sidebar{
  opacity: 1;
  visibility: visible;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.3);
}

//Main Sidebar
.mt-main-sidebar{
  .mt-sidebar-content {
    left: (@sidebar-size-lg * -1);
    //.transition(.4s ease left);
    .transition(.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) left);
  }

  &.mt-sidebar-open .mt-sidebar-content {
    left: 0;
  }
}

//Shop Sidebar
.mt-shop-sidebar{
  .mt-sidebar-content {
    right: (@sidebar-size-lg * -1);
    //.transition(.4s ease right);
    .transition(.4s cubic-bezier(0.770, 0.000, 0.175, 1.000) right);
  }

  &.mt-sidebar-open .mt-sidebar-content {
    right: 0;
  }
}

/*
 * Breadcrumbs
 * 
*/
.breadcrumbs {
  position: absolute;
  font-size: 16px;
  color: #fff;
  left: (@touch-target-size * 1.2);
  right: (@touch-target-size * 2.6);
  top: 0;
  bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: @touch-target-size;
  margin: @icon-margin 0;
  vertical-align: top;
  opacity: 0;
  visibility: hidden;
  .transition(.4s ease opacity);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: (@touch-target-size * -1);
    width: (@touch-target-size * 2);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), @md-clr-blue-grey 50%);
  }

  a {
    color: #fff;
    padding: 0 ( @icon-margin * 2 );
  }
  
  span {
    display: inline-block;
    vertical-align: inherit;
  }

  .breadcrumb_last{
    padding: 0 ( @icon-margin * 1.5 );
  }

  .mt-sep-arrow {
    padding: 0;
    opacity: 0.7;
  }

  > span {
    padding: 0 ( @icon-margin * 1.5 );

    > a {
      display: block;
      margin-left: (@icon-margin * -1.5);
      margin-right: (@icon-margin * -1.5);
    }
  }
}

.mt-sep-arrow:before {
  content: "\e692";
}

/**
 * Page Header
 *
*/

.page-header {
  position: relative;
  background-color: @md-clr-blue-grey;
  padding-top: @sticky-header-height;
  padding-bottom: @line-height-computed;
  margin-bottom: (@line-height-computed * 2.5);
  
  &.slider-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header-standard{
    padding-top: 21%;
  }
}

.page-title{
  font-size: 40px;
  color: #fff;
  font-weight: 300;
  padding-right: 80px;
}

.page-description{
  font-size: 16px;
  color: #fff;
  color: rgba(255, 255, 255, 0.87);
  padding-right: 80px;
}

.page-header-bg{
  background-image: url('https://assetcdn.500px.org/assets/home/home_cover-24ebb0d7f67470e461c8ccddabe501f7.jpg');
  background-position: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.page-header-cover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-video video{
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/*Page Header BG Color for Special Pages*/
.error404 .site-header.sticky-header,
.error404 .page-header{
  background-color: @md-clr-red;
}

@media (max-width: @screen-sm-max) {
  .page-title {
    font-size: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  .page-description {
    font-size: @font-size-base;
    padding-right: 0;
    padding-left: 0;
  }

}

/**
 * Footer
 *
*/
.site-footer {
  margin-top: (@line-height-computed * 2.5);
  background-color: #333;
  color: #fff;
  min-height: 300px;
  padding: @line-height-computed 0;
}

.site-copyright {
  background-color: #252525;
  min-height: 40px;
}