/**
 * Misc
 * 
*/

/*Matterial Floating Menu*/
.mt-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: @container-lg;
  margin: 0 auto;
  padding: 0 15px;
  .transition(.8s ease bottom);
  
  @media (max-width: @container-lg) {
    max-width: @container-md;
  }

  @media (max-width: @screen-md-min) {
    position: fixed;
    z-index: @zindex-navbar;

    &.hide-floating-btn {
      bottom: -100%;
    }

    > a {
      margin-bottom: 20px;
    }
  }
}

.mt-floating-btn {
  float: right;
  margin-bottom: @mt-menu-bottom;
  line-height: @mt-menu-size;
}

/*404 Page*/
.error-404 {

  form {
    margin-bottom: (@line-height-computed * 2.5);
  }

  .t-404 {
    font-size: 380px;
    line-height: 380px;
    font-weight: 300;
    text-align: center;
    color: @gray-lighter;

    @media (max-width: @screen-md-min) {
      font-size: 180px;
      line-height: 180px;
    }
  }
}

.gallery-caption,
.bypostauthor,
.sticky,
.alignright,
.alignleft,
.aligncenter,
.wp-caption-text,
.wp-caption {
  opacity: 1; /*remove later*/
}

/*Icons for special elements*/
.search-btn,
.more-btn,
.mt-sep-arrow,
.main-menu-btn {
  font-family: 'matterial-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-menu-btn:before {
  content: "\e698";
}

.search-btn:before {
  content: "\e6ba";
}

.more-btn:before {
  content: "\e69a";
}

/*Parallax BG*/
[data-parallax] {
  background-attachment: fixed !important;
  background-size: cover;
  background-position: 50% 0;
}

.is-mobile-background {
  background-attachment: scroll !important;
  background-size: cover;
  background-position: center center;
}