/**
 * Table of Contents:
 *
 * 1.0 - Normalize
 * 2.0 - Print
*/

@import "../material-color-prefixed.less";
@import "../variables.less";
@import "../mixins.less";

body {
  direction: rtl;
  unicode-bidi: embed;
}

/**
 * Header
 *
*/
.site-header {

  .pull-left {
    float: right !important;
  }

  .pull-right {
    float: left !important;
  }
}

/*
 * Site Sidebars
 *
*/
//Main Sidebar
.mt-main-sidebar{
  .mt-sidebar-content {
    right: (@sidebar-size-lg * -1);
    left: auto;
    .transition(.4s ease right);
  }

  &.mt-sidebar-open .mt-sidebar-content {
    right: 0;
  }
}

//Shop Sidebar
.mt-shop-sidebar{
  .mt-sidebar-content {
    left: (@sidebar-size-lg * -1);
    right: auto !important;
    .transition(.4s ease left);
  }

  &.mt-sidebar-open .mt-sidebar-content {
    left: 0;
  }
}

/*
 * Breadcrumbs
 * 
*/
.breadcrumbs {
  right: (@touch-target-size * 1.2);
  left: (@touch-target-size * 2.6);

  &:after {
    right: auto;
    left: (@touch-target-size * -1);
    background: linear-gradient(to left, rgba(255, 255, 255, 0), @md-clr-blue-grey 50%);
  }
}

.mt-sep-arrow:before {
  content: "\e691";
}

/**
 * Page Header
 *
*/
.page-title,
.page-description {
  padding-left: 80px;
  padding-right: 0;
}

/**
 * Misc
 * 
*/
.mt-floating-btn {
  float: left;
}