//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.mt-btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-transform: uppercase;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
  .user-select(none);
  .transition(all .15s linear);
  .box-shadow-matterial();

  //Waves Effect
  .waves-transform(translateZ(0));

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(none);
  }
}

button.mt-btn {
  outline: 0 !important;
}

// Alternate buttons
// --------------------------------------------------

.mt-btn-default {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  border-color: @btn-default-border;
}
//Primary Button
.mt-btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @md-clr-blue-grey-800);
}
// Success appears as green
.mt-btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @md-clr-green-800);
}
// Info appears as blue-green
.mt-btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @md-clr-blue-800);
}
// Warning appears as orange
.mt-btn-warning {
  .button-variant(@btn-warning-color; @btn-warning-bg; @md-clr-orange-700);
}
// Danger and error appear as red
.mt-btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @md-clr-red-800);
}

/*Button colors*/
.mt-btn-red {
  .button-variant(@btn-primary-color; @md-clr-red; @md-clr-red-800);
}

.mt-btn-pink {
  .button-variant(@btn-primary-color; @md-clr-pink; @md-clr-pink-800);
}

.mt-btn-purple {
  .button-variant(@btn-primary-color; @md-clr-purple; @md-clr-purple-800);
}

.mt-btn-deep-purple {
  .button-variant(@btn-primary-color; @md-clr-deep-purple; @md-clr-deep-purple-800);
}

.mt-btn-indigo {
  .button-variant(@btn-primary-color; @md-clr-indigo; @md-clr-indigo-800);
}

.mt-btn-blue {
  .button-variant(@btn-primary-color; @md-clr-blue; @md-clr-blue-800);
}

.mt-btn-light-blue {
  .button-variant(@btn-primary-color; @md-clr-light-blue; @md-clr-light-blue-800);
}

.mt-btn-cyan {
  .button-variant(@btn-primary-color; @md-clr-cyan; @md-clr-cyan-800);
}

.mt-btn-teal {
  .button-variant(@btn-primary-color; @md-clr-teal; @md-clr-teal-800);
}

.mt-btn-green {
  .button-variant(@btn-primary-color; @md-clr-green; @md-clr-green-800);
}

.mt-btn-light-green {
  .button-variant(@btn-primary-color; @md-clr-light-green; @md-clr-light-green-800);
}

.mt-btn-lime {
  .button-variant(@btn-primary-color; @md-clr-lime; @md-clr-lime-800);
}

.mt-btn-yellow {
  .button-variant(@btn-primary-color; @md-clr-yellow; @md-clr-yellow-800);
}

.mt-btn-amber {
  .button-variant(@btn-primary-color; @md-clr-amber; @md-clr-amber-800);
}

.mt-btn-orange {
  .button-variant(@btn-primary-color; @md-clr-orange; @md-clr-orange-800);
}

.mt-btn-deep-orange {
  .button-variant(@btn-primary-color; @md-clr-deep-orange; @md-clr-deep-orange-800);
}

.mt-btn-brown {
  .button-variant(@btn-primary-color; @md-clr-brown; @md-clr-brown-800);
}

.mt-btn-grey {
  .button-variant(@btn-primary-color; @md-clr-grey; @md-clr-grey-800);
}

.mt-btn-blue-grey {
  .button-variant(@btn-primary-color; @md-clr-blue-grey; @md-clr-blue-grey-800);
}

// Circle buttons
.mt-btn-circle {
  width: @mt-menu-size;
  height: @mt-menu-size;
  line-height: @mt-menu-size;
  border-radius: 50%;
  font-size: 24px;
  .box-shadow-matterial(2);
  padding: 0;
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.mt-btn-link {
  color: @link-color;
  font-weight: @btn-font-weight;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }

  //Colors
  &.mt-btn-red {
    .button-variant-link(@md-clr-red; @md-clr-red-800);
  }

  &.mt-btn-pink {
    .button-variant-link(@md-clr-pink; @md-clr-pink-800);
  }

  &.mt-btn-purple {
    .button-variant-link(@md-clr-purple; @md-clr-purple-800);
  }

  &.mt-btn-deep-purple {
    .button-variant-link(@md-clr-deep-purple; @md-clr-deep-purple-800);
  }

  &.mt-btn-indigo {
    .button-variant-link(@md-clr-indigo; @md-clr-indigo-800);
  }

  &.mt-btn-blue {
    .button-variant-link(@md-clr-blue; @md-clr-blue-800);
  }

  &.mt-btn-light-blue {
    .button-variant-link(@md-clr-light-blue; @md-clr-light-blue-800);
  }

  &.mt-btn-cyan {
    .button-variant-link(@md-clr-cyan; @md-clr-cyan-800);
  }

  &.mt-btn-teal {
    .button-variant-link(@md-clr-teal; @md-clr-teal-800);
  }

  &.mt-btn-green {
    .button-variant-link(@md-clr-green; @md-clr-green-800);
  }

  &.mt-btn-light-green {
    .button-variant-link(@md-clr-light-green; @md-clr-light-green-800);
  }

  &.mt-btn-lime {
    .button-variant-link(@md-clr-lime; @md-clr-lime-800);
  }

  &.mt-btn-yellow {
    .button-variant-link(@md-clr-yellow; @md-clr-yellow-800);
  }

  &.mt-btn-amber {
    .button-variant-link(@md-clr-amber; @md-clr-amber-800);
  }

  &.mt-btn-orange {
    .button-variant-link(@md-clr-orange; @md-clr-orange-800);
  }

  &.mt-btn-deep-orange {
    .button-variant-link(@md-clr-deep-orange; @md-clr-deep-orange-800);
  }

  &.mt-btn-brown {
    .button-variant-link(@md-clr-brown; @md-clr-brown-800);
  }

  &.mt-btn-grey {
    .button-variant-link(@md-clr-grey; @md-clr-grey-800);
  }

  &.mt-btn-blue-grey {
    .button-variant-link(@md-clr-blue-grey; @md-clr-blue-grey-800);
  }
}


// Button Sizes
// --------------------------------------------------

.mt-btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}
.mt-btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
.mt-btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}


// Block button
// --------------------------------------------------

.mt-btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.mt-btn-block + .mt-btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.mt-btn-block {
    width: 100%;
  }
}