@font-face {
	font-family: 'matterial-icons';
	src:url('fonts/matterial-icons.eot?-zezpgi');
	src:url('fonts/matterial-icons.eot?#iefix-zezpgi') format('embedded-opentype'),
		url('fonts/matterial-icons.woff?-zezpgi') format('woff'),
		url('fonts/matterial-icons.ttf?-zezpgi') format('truetype'),
		url('fonts/matterial-icons.svg?-zezpgi#matterial-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mticon-"], [class*=" mticon-"] {
	font-family: 'matterial-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mticon-glass:before {
	content: "\f000";
}

.mticon-music:before {
	content: "\f001";
}

.mticon-search:before {
	content: "\f002";
}

.mticon-envelope-o:before {
	content: "\f003";
}

.mticon-heart:before {
	content: "\f004";
}

.mticon-star:before {
	content: "\f005";
}

.mticon-star-o:before {
	content: "\f006";
}

.mticon-user:before {
	content: "\f007";
}

.mticon-film:before {
	content: "\f008";
}

.mticon-th-large:before {
	content: "\f009";
}

.mticon-th:before {
	content: "\f00a";
}

.mticon-th-list:before {
	content: "\f00b";
}

.mticon-check:before {
	content: "\f00c";
}

.mticon-close:before {
	content: "\f00d";
}

.mticon-remove:before {
	content: "\f00d";
}

.mticon-times:before {
	content: "\f00d";
}

.mticon-search-plus:before {
	content: "\f00e";
}

.mticon-search-minus:before {
	content: "\f010";
}

.mticon-power-off:before {
	content: "\f011";
}

.mticon-signal:before {
	content: "\f012";
}

.mticon-cog:before {
	content: "\f013";
}

.mticon-gear:before {
	content: "\f013";
}

.mticon-trash-o:before {
	content: "\f014";
}

.mticon-home:before {
	content: "\f015";
}

.mticon-file-o:before {
	content: "\f016";
}

.mticon-clock-o:before {
	content: "\f017";
}

.mticon-road:before {
	content: "\f018";
}

.mticon-download:before {
	content: "\f019";
}

.mticon-arrow-circle-o-down:before {
	content: "\f01a";
}

.mticon-arrow-circle-o-up:before {
	content: "\f01b";
}

.mticon-inbox:before {
	content: "\f01c";
}

.mticon-play-circle-o:before {
	content: "\f01d";
}

.mticon-repeat:before {
	content: "\f01e";
}

.mticon-rotate-right:before {
	content: "\f01e";
}

.mticon-refresh:before {
	content: "\f021";
}

.mticon-list-alt:before {
	content: "\f022";
}

.mticon-lock:before {
	content: "\f023";
}

.mticon-flag:before {
	content: "\f024";
}

.mticon-headphones:before {
	content: "\f025";
}

.mticon-volume-off:before {
	content: "\f026";
}

.mticon-volume-down:before {
	content: "\f027";
}

.mticon-volume-up:before {
	content: "\f028";
}

.mticon-qrcode:before {
	content: "\f029";
}

.mticon-barcode:before {
	content: "\f02a";
}

.mticon-tag:before {
	content: "\f02b";
}

.mticon-tags:before {
	content: "\f02c";
}

.mticon-book:before {
	content: "\f02d";
}

.mticon-bookmark:before {
	content: "\f02e";
}

.mticon-print:before {
	content: "\f02f";
}

.mticon-camera:before {
	content: "\f030";
}

.mticon-font:before {
	content: "\f031";
}

.mticon-bold:before {
	content: "\f032";
}

.mticon-italic:before {
	content: "\f033";
}

.mticon-text-height:before {
	content: "\f034";
}

.mticon-text-width:before {
	content: "\f035";
}

.mticon-align-left:before {
	content: "\f036";
}

.mticon-align-center:before {
	content: "\f037";
}

.mticon-align-right:before {
	content: "\f038";
}

.mticon-align-justify:before {
	content: "\f039";
}

.mticon-list:before {
	content: "\f03a";
}

.mticon-dedent:before {
	content: "\f03b";
}

.mticon-outdent:before {
	content: "\f03b";
}

.mticon-indent:before {
	content: "\f03c";
}

.mticon-video-camera:before {
	content: "\f03d";
}

.mticon-image:before {
	content: "\f03e";
}

.mticon-photo:before {
	content: "\f03e";
}

.mticon-picture-o:before {
	content: "\f03e";
}

.mticon-pencil:before {
	content: "\f040";
}

.mticon-map-marker:before {
	content: "\f041";
}

.mticon-adjust:before {
	content: "\f042";
}

.mticon-tint:before {
	content: "\f043";
}

.mticon-edit:before {
	content: "\f044";
}

.mticon-pencil-square-o:before {
	content: "\f044";
}

.mticon-share-square-o:before {
	content: "\f045";
}

.mticon-check-square-o:before {
	content: "\f046";
}

.mticon-arrows:before {
	content: "\f047";
}

.mticon-step-backward:before {
	content: "\f048";
}

.mticon-fast-backward:before {
	content: "\f049";
}

.mticon-backward:before {
	content: "\f04a";
}

.mticon-play:before {
	content: "\f04b";
}

.mticon-pause:before {
	content: "\f04c";
}

.mticon-stop:before {
	content: "\f04d";
}

.mticon-forward:before {
	content: "\f04e";
}

.mticon-fast-forward:before {
	content: "\f050";
}

.mticon-step-forward:before {
	content: "\f051";
}

.mticon-eject:before {
	content: "\f052";
}

.mticon-chevron-left:before {
	content: "\f053";
}

.mticon-chevron-right:before {
	content: "\f054";
}

.mticon-plus-circle:before {
	content: "\f055";
}

.mticon-minus-circle:before {
	content: "\f056";
}

.mticon-times-circle:before {
	content: "\f057";
}

.mticon-check-circle:before {
	content: "\f058";
}

.mticon-question-circle:before {
	content: "\f059";
}

.mticon-info-circle:before {
	content: "\f05a";
}

.mticon-crosshairs:before {
	content: "\f05b";
}

.mticon-times-circle-o:before {
	content: "\f05c";
}

.mticon-check-circle-o:before {
	content: "\f05d";
}

.mticon-ban:before {
	content: "\f05e";
}

.mticon-arrow-left:before {
	content: "\f060";
}

.mticon-arrow-right:before {
	content: "\f061";
}

.mticon-arrow-up:before {
	content: "\f062";
}

.mticon-arrow-down:before {
	content: "\f063";
}

.mticon-mail-forward:before {
	content: "\f064";
}

.mticon-share:before {
	content: "\f064";
}

.mticon-expand:before {
	content: "\f065";
}

.mticon-compress:before {
	content: "\f066";
}

.mticon-plus:before {
	content: "\f067";
}

.mticon-minus:before {
	content: "\f068";
}

.mticon-asterisk:before {
	content: "\f069";
}

.mticon-exclamation-circle:before {
	content: "\f06a";
}

.mticon-gift:before {
	content: "\f06b";
}

.mticon-leaf:before {
	content: "\f06c";
}

.mticon-fire:before {
	content: "\f06d";
}

.mticon-eye:before {
	content: "\f06e";
}

.mticon-eye-slash:before {
	content: "\f070";
}

.mticon-exclamation-triangle:before {
	content: "\f071";
}

.mticon-warning:before {
	content: "\f071";
}

.mticon-plane:before {
	content: "\f072";
}

.mticon-calendar:before {
	content: "\f073";
}

.mticon-random:before {
	content: "\f074";
}

.mticon-comment:before {
	content: "\f075";
}

.mticon-magnet:before {
	content: "\f076";
}

.mticon-chevron-up:before {
	content: "\f077";
}

.mticon-chevron-down:before {
	content: "\f078";
}

.mticon-retweet:before {
	content: "\f079";
}

.mticon-shopping-cart:before {
	content: "\f07a";
}

.mticon-folder:before {
	content: "\f07b";
}

.mticon-folder-open:before {
	content: "\f07c";
}

.mticon-arrows-v:before {
	content: "\f07d";
}

.mticon-arrows-h:before {
	content: "\f07e";
}

.mticon-bar-chart:before {
	content: "\f080";
}

.mticon-bar-chart-o:before {
	content: "\f080";
}

.mticon-twitter-square:before {
	content: "\f081";
}

.mticon-facebook-square:before {
	content: "\f082";
}

.mticon-camera-retro:before {
	content: "\f083";
}

.mticon-key:before {
	content: "\f084";
}

.mticon-cogs:before {
	content: "\f085";
}

.mticon-gears:before {
	content: "\f085";
}

.mticon-comments:before {
	content: "\f086";
}

.mticon-thumbs-o-up:before {
	content: "\f087";
}

.mticon-thumbs-o-down:before {
	content: "\f088";
}

.mticon-star-half:before {
	content: "\f089";
}

.mticon-heart-o:before {
	content: "\f08a";
}

.mticon-sign-out:before {
	content: "\f08b";
}

.mticon-linkedin-square:before {
	content: "\f08c";
}

.mticon-thumb-tack:before {
	content: "\f08d";
}

.mticon-external-link:before {
	content: "\f08e";
}

.mticon-sign-in:before {
	content: "\f090";
}

.mticon-trophy:before {
	content: "\f091";
}

.mticon-github-square:before {
	content: "\f092";
}

.mticon-upload:before {
	content: "\f093";
}

.mticon-lemon-o:before {
	content: "\f094";
}

.mticon-phone:before {
	content: "\f095";
}

.mticon-square-o:before {
	content: "\f096";
}

.mticon-bookmark-o:before {
	content: "\f097";
}

.mticon-phone-square:before {
	content: "\f098";
}

.mticon-twitter:before {
	content: "\f099";
}

.mticon-facebook:before {
	content: "\f09a";
}

.mticon-facebook-f:before {
	content: "\f09a";
}

.mticon-github:before {
	content: "\f09b";
}

.mticon-unlock:before {
	content: "\f09c";
}

.mticon-credit-card:before {
	content: "\f09d";
}

.mticon-rss:before {
	content: "\f09e";
}

.mticon-hdd-o:before {
	content: "\f0a0";
}

.mticon-bullhorn:before {
	content: "\f0a1";
}

.mticon-bell-o:before {
	content: "\f0a2";
}

.mticon-certificate:before {
	content: "\f0a3";
}

.mticon-hand-o-right:before {
	content: "\f0a4";
}

.mticon-hand-o-left:before {
	content: "\f0a5";
}

.mticon-hand-o-up:before {
	content: "\f0a6";
}

.mticon-hand-o-down:before {
	content: "\f0a7";
}

.mticon-arrow-circle-left:before {
	content: "\f0a8";
}

.mticon-arrow-circle-right:before {
	content: "\f0a9";
}

.mticon-arrow-circle-up:before {
	content: "\f0aa";
}

.mticon-arrow-circle-down:before {
	content: "\f0ab";
}

.mticon-globe:before {
	content: "\f0ac";
}

.mticon-wrench:before {
	content: "\f0ad";
}

.mticon-tasks:before {
	content: "\f0ae";
}

.mticon-filter:before {
	content: "\f0b0";
}

.mticon-briefcase:before {
	content: "\f0b1";
}

.mticon-arrows-alt:before {
	content: "\f0b2";
}

.mticon-group:before {
	content: "\f0c0";
}

.mticon-users:before {
	content: "\f0c0";
}

.mticon-chain:before {
	content: "\f0c1";
}

.mticon-link:before {
	content: "\f0c1";
}

.mticon-cloud:before {
	content: "\f0c2";
}

.mticon-flask:before {
	content: "\f0c3";
}

.mticon-cut:before {
	content: "\f0c4";
}

.mticon-scissors:before {
	content: "\f0c4";
}

.mticon-copy:before {
	content: "\f0c5";
}

.mticon-files-o:before {
	content: "\f0c5";
}

.mticon-paperclip:before {
	content: "\f0c6";
}

.mticon-floppy-o:before {
	content: "\f0c7";
}

.mticon-save:before {
	content: "\f0c7";
}

.mticon-square:before {
	content: "\f0c8";
}

.mticon-bars:before {
	content: "\f0c9";
}

.mticon-navicon:before {
	content: "\f0c9";
}

.mticon-reorder:before {
	content: "\f0c9";
}

.mticon-list-ul:before {
	content: "\f0ca";
}

.mticon-list-ol:before {
	content: "\f0cb";
}

.mticon-strikethrough:before {
	content: "\f0cc";
}

.mticon-underline:before {
	content: "\f0cd";
}

.mticon-table:before {
	content: "\f0ce";
}

.mticon-magic:before {
	content: "\f0d0";
}

.mticon-truck:before {
	content: "\f0d1";
}

.mticon-pinterest:before {
	content: "\f0d2";
}

.mticon-pinterest-square:before {
	content: "\f0d3";
}

.mticon-google-plus-square:before {
	content: "\f0d4";
}

.mticon-google-plus:before {
	content: "\f0d5";
}

.mticon-money:before {
	content: "\f0d6";
}

.mticon-caret-down:before {
	content: "\f0d7";
}

.mticon-caret-up:before {
	content: "\f0d8";
}

.mticon-caret-left:before {
	content: "\f0d9";
}

.mticon-caret-right:before {
	content: "\f0da";
}

.mticon-columns:before {
	content: "\f0db";
}

.mticon-sort:before {
	content: "\f0dc";
}

.mticon-unsorted:before {
	content: "\f0dc";
}

.mticon-sort-desc:before {
	content: "\f0dd";
}

.mticon-sort-down:before {
	content: "\f0dd";
}

.mticon-sort-asc:before {
	content: "\f0de";
}

.mticon-sort-up:before {
	content: "\f0de";
}

.mticon-envelope:before {
	content: "\f0e0";
}

.mticon-linkedin:before {
	content: "\f0e1";
}

.mticon-rotate-left:before {
	content: "\f0e2";
}

.mticon-undo:before {
	content: "\f0e2";
}

.mticon-gavel:before {
	content: "\f0e3";
}

.mticon-legal:before {
	content: "\f0e3";
}

.mticon-dashboard:before {
	content: "\f0e4";
}

.mticon-tachometer:before {
	content: "\f0e4";
}

.mticon-comment-o:before {
	content: "\f0e5";
}

.mticon-comments-o:before {
	content: "\f0e6";
}

.mticon-bolt:before {
	content: "\f0e7";
}

.mticon-flash:before {
	content: "\f0e7";
}

.mticon-sitemap:before {
	content: "\f0e8";
}

.mticon-umbrella:before {
	content: "\f0e9";
}

.mticon-clipboard:before {
	content: "\f0ea";
}

.mticon-paste:before {
	content: "\f0ea";
}

.mticon-lightbulb-o:before {
	content: "\f0eb";
}

.mticon-exchange:before {
	content: "\f0ec";
}

.mticon-cloud-download:before {
	content: "\f0ed";
}

.mticon-cloud-upload:before {
	content: "\f0ee";
}

.mticon-user-md:before {
	content: "\f0f0";
}

.mticon-stethoscope:before {
	content: "\f0f1";
}

.mticon-suitcase:before {
	content: "\f0f2";
}

.mticon-bell:before {
	content: "\f0f3";
}

.mticon-coffee:before {
	content: "\f0f4";
}

.mticon-cutlery:before {
	content: "\f0f5";
}

.mticon-file-text-o:before {
	content: "\f0f6";
}

.mticon-building-o:before {
	content: "\f0f7";
}

.mticon-hospital-o:before {
	content: "\f0f8";
}

.mticon-ambulance:before {
	content: "\f0f9";
}

.mticon-medkit:before {
	content: "\f0fa";
}

.mticon-fighter-jet:before {
	content: "\f0fb";
}

.mticon-beer:before {
	content: "\f0fc";
}

.mticon-h-square:before {
	content: "\f0fd";
}

.mticon-plus-square:before {
	content: "\f0fe";
}

.mticon-angle-double-left:before {
	content: "\f100";
}

.mticon-angle-double-right:before {
	content: "\f101";
}

.mticon-angle-double-up:before {
	content: "\f102";
}

.mticon-angle-double-down:before {
	content: "\f103";
}

.mticon-angle-left:before {
	content: "\f104";
}

.mticon-angle-right:before {
	content: "\f105";
}

.mticon-angle-up:before {
	content: "\f106";
}

.mticon-angle-down:before {
	content: "\f107";
}

.mticon-desktop:before {
	content: "\f108";
}

.mticon-laptop:before {
	content: "\f109";
}

.mticon-tablet:before {
	content: "\f10a";
}

.mticon-mobile:before {
	content: "\f10b";
}

.mticon-mobile-phone:before {
	content: "\f10b";
}

.mticon-circle-o:before {
	content: "\f10c";
}

.mticon-quote-left:before {
	content: "\f10d";
}

.mticon-quote-right:before {
	content: "\f10e";
}

.mticon-spinner:before {
	content: "\f110";
}

.mticon-circle:before {
	content: "\f111";
}

.mticon-mail-reply:before {
	content: "\f112";
}

.mticon-reply:before {
	content: "\f112";
}

.mticon-github-alt:before {
	content: "\f113";
}

.mticon-folder-o:before {
	content: "\f114";
}

.mticon-folder-open-o:before {
	content: "\f115";
}

.mticon-smile-o:before {
	content: "\f118";
}

.mticon-frown-o:before {
	content: "\f119";
}

.mticon-meh-o:before {
	content: "\f11a";
}

.mticon-gamepad:before {
	content: "\f11b";
}

.mticon-keyboard-o:before {
	content: "\f11c";
}

.mticon-flag-o:before {
	content: "\f11d";
}

.mticon-flag-checkered:before {
	content: "\f11e";
}

.mticon-terminal:before {
	content: "\f120";
}

.mticon-code:before {
	content: "\f121";
}

.mticon-mail-reply-all:before {
	content: "\f122";
}

.mticon-reply-all:before {
	content: "\f122";
}

.mticon-star-half-empty:before {
	content: "\f123";
}

.mticon-star-half-full:before {
	content: "\f123";
}

.mticon-star-half-o:before {
	content: "\f123";
}

.mticon-location-arrow:before {
	content: "\f124";
}

.mticon-crop:before {
	content: "\f125";
}

.mticon-code-fork:before {
	content: "\f126";
}

.mticon-chain-broken:before {
	content: "\f127";
}

.mticon-unlink:before {
	content: "\f127";
}

.mticon-question:before {
	content: "\f128";
}

.mticon-info:before {
	content: "\f129";
}

.mticon-exclamation:before {
	content: "\f12a";
}

.mticon-superscript:before {
	content: "\f12b";
}

.mticon-subscript:before {
	content: "\f12c";
}

.mticon-eraser:before {
	content: "\f12d";
}

.mticon-puzzle-piece:before {
	content: "\f12e";
}

.mticon-microphone:before {
	content: "\f130";
}

.mticon-microphone-slash:before {
	content: "\f131";
}

.mticon-shield:before {
	content: "\f132";
}

.mticon-calendar-o:before {
	content: "\f133";
}

.mticon-fire-extinguisher:before {
	content: "\f134";
}

.mticon-rocket:before {
	content: "\f135";
}

.mticon-maxcdn:before {
	content: "\f136";
}

.mticon-chevron-circle-left:before {
	content: "\f137";
}

.mticon-chevron-circle-right:before {
	content: "\f138";
}

.mticon-chevron-circle-up:before {
	content: "\f139";
}

.mticon-chevron-circle-down:before {
	content: "\f13a";
}

.mticon-html5:before {
	content: "\f13b";
}

.mticon-css3:before {
	content: "\f13c";
}

.mticon-anchor:before {
	content: "\f13d";
}

.mticon-unlock-alt:before {
	content: "\f13e";
}

.mticon-bullseye:before {
	content: "\f140";
}

.mticon-ellipsis-h:before {
	content: "\f141";
}

.mticon-ellipsis-v:before {
	content: "\f142";
}

.mticon-rss-square:before {
	content: "\f143";
}

.mticon-play-circle:before {
	content: "\f144";
}

.mticon-ticket:before {
	content: "\f145";
}

.mticon-minus-square:before {
	content: "\f146";
}

.mticon-minus-square-o:before {
	content: "\f147";
}

.mticon-level-up:before {
	content: "\f148";
}

.mticon-level-down:before {
	content: "\f149";
}

.mticon-check-square:before {
	content: "\f14a";
}

.mticon-pencil-square:before {
	content: "\f14b";
}

.mticon-external-link-square:before {
	content: "\f14c";
}

.mticon-share-square:before {
	content: "\f14d";
}

.mticon-compass:before {
	content: "\f14e";
}

.mticon-caret-square-o-down:before {
	content: "\f150";
}

.mticon-toggle-down:before {
	content: "\f150";
}

.mticon-caret-square-o-up:before {
	content: "\f151";
}

.mticon-toggle-up:before {
	content: "\f151";
}

.mticon-caret-square-o-right:before {
	content: "\f152";
}

.mticon-toggle-right:before {
	content: "\f152";
}

.mticon-eur:before {
	content: "\f153";
}

.mticon-euro:before {
	content: "\f153";
}

.mticon-gbp:before {
	content: "\f154";
}

.mticon-dollar:before {
	content: "\f155";
}

.mticon-usd:before {
	content: "\f155";
}

.mticon-inr:before {
	content: "\f156";
}

.mticon-rupee:before {
	content: "\f156";
}

.mticon-cny:before {
	content: "\f157";
}

.mticon-jpy:before {
	content: "\f157";
}

.mticon-rmb:before {
	content: "\f157";
}

.mticon-yen:before {
	content: "\f157";
}

.mticon-rouble:before {
	content: "\f158";
}

.mticon-rub:before {
	content: "\f158";
}

.mticon-ruble:before {
	content: "\f158";
}

.mticon-krw:before {
	content: "\f159";
}

.mticon-won:before {
	content: "\f159";
}

.mticon-bitcoin:before {
	content: "\f15a";
}

.mticon-btc:before {
	content: "\f15a";
}

.mticon-file:before {
	content: "\f15b";
}

.mticon-file-text:before {
	content: "\f15c";
}

.mticon-sort-alpha-asc:before {
	content: "\f15d";
}

.mticon-sort-alpha-desc:before {
	content: "\f15e";
}

.mticon-sort-amount-asc:before {
	content: "\f160";
}

.mticon-sort-amount-desc:before {
	content: "\f161";
}

.mticon-sort-numeric-asc:before {
	content: "\f162";
}

.mticon-sort-numeric-desc:before {
	content: "\f163";
}

.mticon-thumbs-up:before {
	content: "\f164";
}

.mticon-thumbs-down:before {
	content: "\f165";
}

.mticon-youtube-square:before {
	content: "\f166";
}

.mticon-youtube:before {
	content: "\f167";
}

.mticon-xing:before {
	content: "\f168";
}

.mticon-xing-square:before {
	content: "\f169";
}

.mticon-youtube-play:before {
	content: "\f16a";
}

.mticon-dropbox:before {
	content: "\f16b";
}

.mticon-stack-overflow:before {
	content: "\f16c";
}

.mticon-instagram:before {
	content: "\f16d";
}

.mticon-flickr:before {
	content: "\f16e";
}

.mticon-adn:before {
	content: "\f170";
}

.mticon-bitbucket:before {
	content: "\f171";
}

.mticon-bitbucket-square:before {
	content: "\f172";
}

.mticon-tumblr:before {
	content: "\f173";
}

.mticon-tumblr-square:before {
	content: "\f174";
}

.mticon-long-arrow-down:before {
	content: "\f175";
}

.mticon-long-arrow-up:before {
	content: "\f176";
}

.mticon-long-arrow-left:before {
	content: "\f177";
}

.mticon-long-arrow-right:before {
	content: "\f178";
}

.mticon-apple:before {
	content: "\f179";
}

.mticon-windows:before {
	content: "\f17a";
}

.mticon-android:before {
	content: "\f17b";
}

.mticon-linux:before {
	content: "\f17c";
}

.mticon-dribbble:before {
	content: "\f17d";
}

.mticon-skype:before {
	content: "\f17e";
}

.mticon-foursquare:before {
	content: "\f180";
}

.mticon-trello:before {
	content: "\f181";
}

.mticon-female:before {
	content: "\f182";
}

.mticon-male:before {
	content: "\f183";
}

.mticon-gittip:before {
	content: "\f184";
}

.mticon-gratipay:before {
	content: "\f184";
}

.mticon-sun-o:before {
	content: "\f185";
}

.mticon-moon-o:before {
	content: "\f186";
}

.mticon-archive:before {
	content: "\f187";
}

.mticon-bug:before {
	content: "\f188";
}

.mticon-vk:before {
	content: "\f189";
}

.mticon-weibo:before {
	content: "\f18a";
}

.mticon-renren:before {
	content: "\f18b";
}

.mticon-pagelines:before {
	content: "\f18c";
}

.mticon-stack-exchange:before {
	content: "\f18d";
}

.mticon-arrow-circle-o-right:before {
	content: "\f18e";
}

.mticon-arrow-circle-o-left:before {
	content: "\f190";
}

.mticon-caret-square-o-left:before {
	content: "\f191";
}

.mticon-toggle-left:before {
	content: "\f191";
}

.mticon-dot-circle-o:before {
	content: "\f192";
}

.mticon-wheelchair:before {
	content: "\f193";
}

.mticon-vimeo-square:before {
	content: "\f194";
}

.mticon-try:before {
	content: "\f195";
}

.mticon-turkish-lira:before {
	content: "\f195";
}

.mticon-plus-square-o:before {
	content: "\f196";
}

.mticon-space-shuttle:before {
	content: "\f197";
}

.mticon-slack:before {
	content: "\f198";
}

.mticon-envelope-square:before {
	content: "\f199";
}

.mticon-wordpress:before {
	content: "\f19a";
}

.mticon-openid:before {
	content: "\f19b";
}

.mticon-bank:before {
	content: "\f19c";
}

.mticon-institution:before {
	content: "\f19c";
}

.mticon-university:before {
	content: "\f19c";
}

.mticon-graduation-cap:before {
	content: "\f19d";
}

.mticon-mortar-board:before {
	content: "\f19d";
}

.mticon-yahoo:before {
	content: "\f19e";
}

.mticon-google:before {
	content: "\f1a0";
}

.mticon-reddit:before {
	content: "\f1a1";
}

.mticon-reddit-square:before {
	content: "\f1a2";
}

.mticon-stumbleupon-circle:before {
	content: "\f1a3";
}

.mticon-stumbleupon:before {
	content: "\f1a4";
}

.mticon-delicious:before {
	content: "\f1a5";
}

.mticon-digg:before {
	content: "\f1a6";
}

.mticon-pied-piper:before {
	content: "\f1a7";
}

.mticon-pied-piper-alt:before {
	content: "\f1a8";
}

.mticon-drupal:before {
	content: "\f1a9";
}

.mticon-joomla:before {
	content: "\f1aa";
}

.mticon-language:before {
	content: "\f1ab";
}

.mticon-fax:before {
	content: "\f1ac";
}

.mticon-building:before {
	content: "\f1ad";
}

.mticon-child:before {
	content: "\f1ae";
}

.mticon-paw:before {
	content: "\f1b0";
}

.mticon-spoon:before {
	content: "\f1b1";
}

.mticon-cube:before {
	content: "\f1b2";
}

.mticon-cubes:before {
	content: "\f1b3";
}

.mticon-behance:before {
	content: "\f1b4";
}

.mticon-behance-square:before {
	content: "\f1b5";
}

.mticon-steam:before {
	content: "\f1b6";
}

.mticon-steam-square:before {
	content: "\f1b7";
}

.mticon-recycle:before {
	content: "\f1b8";
}

.mticon-automobile:before {
	content: "\f1b9";
}

.mticon-car:before {
	content: "\f1b9";
}

.mticon-cab:before {
	content: "\f1ba";
}

.mticon-taxi:before {
	content: "\f1ba";
}

.mticon-tree:before {
	content: "\f1bb";
}

.mticon-spotify:before {
	content: "\f1bc";
}

.mticon-deviantart:before {
	content: "\f1bd";
}

.mticon-soundcloud:before {
	content: "\f1be";
}

.mticon-database:before {
	content: "\f1c0";
}

.mticon-file-pdf-o:before {
	content: "\f1c1";
}

.mticon-file-word-o:before {
	content: "\f1c2";
}

.mticon-file-excel-o:before {
	content: "\f1c3";
}

.mticon-file-powerpoint-o:before {
	content: "\f1c4";
}

.mticon-file-image-o:before {
	content: "\f1c5";
}

.mticon-file-photo-o:before {
	content: "\f1c5";
}

.mticon-file-picture-o:before {
	content: "\f1c5";
}

.mticon-file-archive-o:before {
	content: "\f1c6";
}

.mticon-file-zip-o:before {
	content: "\f1c6";
}

.mticon-file-audio-o:before {
	content: "\f1c7";
}

.mticon-file-sound-o:before {
	content: "\f1c7";
}

.mticon-file-movie-o:before {
	content: "\f1c8";
}

.mticon-file-video-o:before {
	content: "\f1c8";
}

.mticon-file-code-o:before {
	content: "\f1c9";
}

.mticon-vine:before {
	content: "\f1ca";
}

.mticon-codepen:before {
	content: "\f1cb";
}

.mticon-jsfiddle:before {
	content: "\f1cc";
}

.mticon-life-bouy:before {
	content: "\f1cd";
}

.mticon-life-buoy:before {
	content: "\f1cd";
}

.mticon-life-ring:before {
	content: "\f1cd";
}

.mticon-life-saver:before {
	content: "\f1cd";
}

.mticon-support:before {
	content: "\f1cd";
}

.mticon-circle-o-notch:before {
	content: "\f1ce";
}

.mticon-ra:before {
	content: "\f1d0";
}

.mticon-rebel:before {
	content: "\f1d0";
}

.mticon-empire:before {
	content: "\f1d1";
}

.mticon-ge:before {
	content: "\f1d1";
}

.mticon-git-square:before {
	content: "\f1d2";
}

.mticon-git:before {
	content: "\f1d3";
}

.mticon-hacker-news:before {
	content: "\f1d4";
}

.mticon-tencent-weibo:before {
	content: "\f1d5";
}

.mticon-qq:before {
	content: "\f1d6";
}

.mticon-wechat:before {
	content: "\f1d7";
}

.mticon-weixin:before {
	content: "\f1d7";
}

.mticon-paper-plane:before {
	content: "\f1d8";
}

.mticon-send:before {
	content: "\f1d8";
}

.mticon-paper-plane-o:before {
	content: "\f1d9";
}

.mticon-send-o:before {
	content: "\f1d9";
}

.mticon-history:before {
	content: "\f1da";
}

.mticon-circle-thin:before {
	content: "\f1db";
}

.mticon-genderless:before {
	content: "\f1db";
}

.mticon-header:before {
	content: "\f1dc";
}

.mticon-paragraph:before {
	content: "\f1dd";
}

.mticon-sliders:before {
	content: "\f1de";
}

.mticon-share-alt:before {
	content: "\f1e0";
}

.mticon-share-alt-square:before {
	content: "\f1e1";
}

.mticon-bomb:before {
	content: "\f1e2";
}

.mticon-futbol-o:before {
	content: "\f1e3";
}

.mticon-soccer-ball-o:before {
	content: "\f1e3";
}

.mticon-tty:before {
	content: "\f1e4";
}

.mticon-binoculars:before {
	content: "\f1e5";
}

.mticon-plug:before {
	content: "\f1e6";
}

.mticon-slideshare:before {
	content: "\f1e7";
}

.mticon-twitch:before {
	content: "\f1e8";
}

.mticon-yelp:before {
	content: "\f1e9";
}

.mticon-newspaper-o:before {
	content: "\f1ea";
}

.mticon-wifi:before {
	content: "\f1eb";
}

.mticon-calculator:before {
	content: "\f1ec";
}

.mticon-paypal:before {
	content: "\f1ed";
}

.mticon-google-wallet:before {
	content: "\f1ee";
}

.mticon-cc-visa:before {
	content: "\f1f0";
}

.mticon-cc-mastercard:before {
	content: "\f1f1";
}

.mticon-cc-discover:before {
	content: "\f1f2";
}

.mticon-cc-amex:before {
	content: "\f1f3";
}

.mticon-cc-paypal:before {
	content: "\f1f4";
}

.mticon-cc-stripe:before {
	content: "\f1f5";
}

.mticon-bell-slash:before {
	content: "\f1f6";
}

.mticon-bell-slash-o:before {
	content: "\f1f7";
}

.mticon-trash:before {
	content: "\f1f8";
}

.mticon-copyright:before {
	content: "\f1f9";
}

.mticon-at:before {
	content: "\f1fa";
}

.mticon-eyedropper:before {
	content: "\f1fb";
}

.mticon-paint-brush:before {
	content: "\f1fc";
}

.mticon-birthday-cake:before {
	content: "\f1fd";
}

.mticon-area-chart:before {
	content: "\f1fe";
}

.mticon-pie-chart:before {
	content: "\f200";
}

.mticon-line-chart:before {
	content: "\f201";
}

.mticon-lastfm:before {
	content: "\f202";
}

.mticon-lastfm-square:before {
	content: "\f203";
}

.mticon-toggle-off:before {
	content: "\f204";
}

.mticon-toggle-on:before {
	content: "\f205";
}

.mticon-bicycle:before {
	content: "\f206";
}

.mticon-bus:before {
	content: "\f207";
}

.mticon-ioxhost:before {
	content: "\f208";
}

.mticon-angellist:before {
	content: "\f209";
}

.mticon-cc:before {
	content: "\f20a";
}

.mticon-ils:before {
	content: "\f20b";
}

.mticon-shekel:before {
	content: "\f20b";
}

.mticon-sheqel:before {
	content: "\f20b";
}

.mticon-meanpath:before {
	content: "\f20c";
}

.mticon-buysellads:before {
	content: "\f20d";
}

.mticon-connectdevelop:before {
	content: "\f20e";
}

.mticon-dashcube:before {
	content: "\f210";
}

.mticon-forumbee:before {
	content: "\f211";
}

.mticon-leanpub:before {
	content: "\f212";
}

.mticon-sellsy:before {
	content: "\f213";
}

.mticon-shirtsinbulk:before {
	content: "\f214";
}

.mticon-simplybuilt:before {
	content: "\f215";
}

.mticon-skyatlas:before {
	content: "\f216";
}

.mticon-cart-plus:before {
	content: "\f217";
}

.mticon-cart-arrow-down:before {
	content: "\f218";
}

.mticon-diamond:before {
	content: "\f219";
}

.mticon-ship:before {
	content: "\f21a";
}

.mticon-user-secret:before {
	content: "\f21b";
}

.mticon-motorcycle:before {
	content: "\f21c";
}

.mticon-street-view:before {
	content: "\f21d";
}

.mticon-heartbeat:before {
	content: "\f21e";
}

.mticon-venus:before {
	content: "\f221";
}

.mticon-mars:before {
	content: "\f222";
}

.mticon-mercury:before {
	content: "\f223";
}

.mticon-transgender:before {
	content: "\f224";
}

.mticon-transgender-alt:before {
	content: "\f225";
}

.mticon-venus-double:before {
	content: "\f226";
}

.mticon-mars-double:before {
	content: "\f227";
}

.mticon-venus-mars:before {
	content: "\f228";
}

.mticon-mars-stroke:before {
	content: "\f229";
}

.mticon-mars-stroke-v:before {
	content: "\f22a";
}

.mticon-mars-stroke-h:before {
	content: "\f22b";
}

.mticon-neuter:before {
	content: "\f22c";
}

.mticon-facebook-official:before {
	content: "\f230";
}

.mticon-pinterest-p:before {
	content: "\f231";
}

.mticon-whatsapp:before {
	content: "\f232";
}

.mticon-server:before {
	content: "\f233";
}

.mticon-user-plus:before {
	content: "\f234";
}

.mticon-user-times:before {
	content: "\f235";
}

.mticon-bed:before {
	content: "\f236";
}

.mticon-hotel:before {
	content: "\f236";
}

.mticon-viacoin:before {
	content: "\f237";
}

.mticon-train:before {
	content: "\f238";
}

.mticon-subway:before {
	content: "\f239";
}

.mticon-medium:before {
	content: "\f23a";
}

.mticon-account-child:before {
	content: "\e600";
}

.mticon-account-circle:before {
	content: "\e601";
}

.mticon-add-shopping-cart:before {
	content: "\e602";
}

.mticon-announcement:before {
	content: "\e603";
}

.mticon-dashboard2:before {
	content: "\e604";
}

.mticon-delete:before {
	content: "\e605";
}

.mticon-description:before {
	content: "\e606";
}

.mticon-done:before {
	content: "\e607";
}

.mticon-done-all:before {
	content: "\e608";
}

.mticon-favorite:before {
	content: "\e609";
}

.mticon-favorite-outline:before {
	content: "\e60a";
}

.mticon-grade:before {
	content: "\e60b";
}

.mticon-history2:before {
	content: "\e60c";
}

.mticon-home2:before {
	content: "\e60d";
}

.mticon-info2:before {
	content: "\e60e";
}

.mticon-info-outline:before {
	content: "\e6b8";
}

.mticon-label:before {
	content: "\e60f";
}

.mticon-label-outline:before {
	content: "\e610";
}

.mticon-lock2:before {
	content: "\e611";
}

.mticon-lock-open:before {
	content: "\e612";
}

.mticon-lock-outline:before {
	content: "\e613";
}

.mticon-receipt:before {
	content: "\e614";
}

.mticon-reorder2:before {
	content: "\e615";
}

.mticon-room:before {
	content: "\e6b9";
}

.mticon-search2:before {
	content: "\e6ba";
}

.mticon-settings:before {
	content: "\e6bb";
}

.mticon-shop:before {
	content: "\e616";
}

.mticon-shopping-basket:before {
	content: "\e617";
}

.mticon-shopping-cart2:before {
	content: "\e618";
}

.mticon-turned-in:before {
	content: "\e619";
}

.mticon-turned-in-not:before {
	content: "\e61a";
}

.mticon-verified-user:before {
	content: "\e61b";
}

.mticon-view-array:before {
	content: "\e61c";
}

.mticon-view-carousel:before {
	content: "\e61d";
}

.mticon-view-column:before {
	content: "\e61e";
}

.mticon-view-day:before {
	content: "\e61f";
}

.mticon-view-list:before {
	content: "\e620";
}

.mticon-view-module:before {
	content: "\e621";
}

.mticon-view-quilt:before {
	content: "\e622";
}

.mticon-view-stream:before {
	content: "\e623";
}

.mticon-view-week:before {
	content: "\e624";
}

.mticon-wallet-giftcard:before {
	content: "\e625";
}

.mticon-wallet-membership:before {
	content: "\e626";
}

.mticon-wallet-travel:before {
	content: "\e627";
}

.mticon-work:before {
	content: "\e628";
}

.mticon-error:before {
	content: "\e629";
}

.mticon-warning2:before {
	content: "\e62a";
}

.mticon-equalizer:before {
	content: "\e62b";
}

.mticon-fast-forward2:before {
	content: "\e62c";
}

.mticon-fast-rewind:before {
	content: "\e62d";
}

.mticon-mnone:before {
	content: "\e62e";
}

.mticon-moff:before {
	content: "\e62f";
}

.mticon-pause2:before {
	content: "\e630";
}

.mticon-play-arrow:before {
	content: "\e631";
}

.mticon-videocam:before {
	content: "\e632";
}

.mticon-videocam-off:before {
	content: "\e633";
}

.mticon-volume-down2:before {
	content: "\e634";
}

.mticon-volume-mute:before {
	content: "\e635";
}

.mticon-volume-off2:before {
	content: "\e636";
}

.mticon-volume-up2:before {
	content: "\e637";
}

.mticon-chat:before {
	content: "\e638";
}

.mticon-forum:before {
	content: "\e639";
}

.mticon-messenger:before {
	content: "\e63a";
}

.mticon-textsms:before {
	content: "\e63b";
}

.mticon-vpn-key:before {
	content: "\e63c";
}

.mticon-add-circle:before {
	content: "\e63d";
}

.mticon-add-circle-outline:before {
	content: "\e63e";
}

.mticon-content-cut:before {
	content: "\e63f";
}

.mticon-content-paste:before {
	content: "\e640";
}

.mticon-drafts:before {
	content: "\e641";
}

.mticon-remove-circle:before {
	content: "\e642";
}

.mticon-remove-circle-outline:before {
	content: "\e643";
}

.mticon-reply-all2:before {
	content: "\e644";
}

.mticon-send2:before {
	content: "\e645";
}

.mticon-access-time:before {
	content: "\e646";
}

.mticon-sd-storage:before {
	content: "\e647";
}

.mticon-storage:before {
	content: "\e648";
}

.mticon-attach-file:before {
	content: "\e649";
}

.mticon-attach-money:before {
	content: "\e64a";
}

.mticon-format-list-bulleted:before {
	content: "\e64b";
}

.mticon-format-list-numbered:before {
	content: "\e64c";
}

.mticon-format-quote:before {
	content: "\e64d";
}

.mticon-format-size:before {
	content: "\e64e";
}

.mticon-insert-comment:before {
	content: "\e64f";
}

.mticon-insert-drive-file:before {
	content: "\e650";
}

.mticon-mode-comment:before {
	content: "\e651";
}

.mticon-vertical-align-bottom:before {
	content: "\e652";
}

.mticon-vertical-align-top:before {
	content: "\e653";
}

.mticon-folder2:before {
	content: "\e654";
}

.mticon-folder-open2:before {
	content: "\e655";
}

.mticon-computer:before {
	content: "\e656";
}

.mticon-desktop-mac:before {
	content: "\e657";
}

.mticon-desktop-windows:before {
	content: "\e658";
}

.mticon-keyboard-voice:before {
	content: "\e659";
}

.mticon-laptop2:before {
	content: "\e65a";
}

.mticon-laptop-chromebook:before {
	content: "\e65b";
}

.mticon-laptop-mac:before {
	content: "\e65c";
}

.mticon-laptop-windows:before {
	content: "\e65d";
}

.mticon-mouse:before {
	content: "\e65e";
}

.mticon-phone-android:before {
	content: "\e65f";
}

.mticon-phone-iphone:before {
	content: "\e660";
}

.mticon-phonelink:before {
	content: "\e661";
}

.mticon-security:before {
	content: "\e662";
}

.mticon-smartphone:before {
	content: "\e663";
}

.mticon-speaker:before {
	content: "\e664";
}

.mticon-tablet2:before {
	content: "\e665";
}

.mticon-tablet-android:before {
	content: "\e666";
}

.mticon-tablet-mac:before {
	content: "\e667";
}

.mticon-tv:before {
	content: "\e668";
}

.mticon-watch:before {
	content: "\e669";
}

.mticon-audiotrack:before {
	content: "\e66a";
}

.mticon-brush:before {
	content: "\e66b";
}

.mticon-color-lens:before {
	content: "\e66c";
}

.mticon-colorize:before {
	content: "\e66d";
}

.mticon-dehaze:before {
	content: "\e66e";
}

.mticon-edit2:before {
	content: "\e66f";
}

.mticon-filter-drama:before {
	content: "\e670";
}

.mticon-flash-on:before {
	content: "\e671";
}

.mticon-landscape:before {
	content: "\e672";
}

.mticon-remove-red-eye:before {
	content: "\e673";
}

.mticon-tune:before {
	content: "\e674";
}

.mticon-local-bar:before {
	content: "\e6bc";
}

.mticon-local-cafe:before {
	content: "\e6bd";
}

.mticon-local-grocery-store:before {
	content: "\e675";
}

.mticon-local-hotel:before {
	content: "\e676";
}

.mticon-local-library:before {
	content: "\e677";
}

.mticon-local-mall:before {
	content: "\e678";
}

.mticon-local-offer:before {
	content: "\e679";
}

.mticon-local-parking:before {
	content: "\e67a";
}

.mticon-local-phone:before {
	content: "\e67b";
}

.mticon-local-pizza:before {
	content: "\e67c";
}

.mticon-local-post-office:before {
	content: "\e67d";
}

.mticon-local-print-shop:before {
	content: "\e67e";
}

.mticon-local-see:before {
	content: "\e67f";
}

.mticon-local-shipping:before {
	content: "\e680";
}

.mticon-local-taxi:before {
	content: "\e681";
}

.mticon-location-history:before {
	content: "\e682";
}

.mticon-pin-drop:before {
	content: "\e683";
}

.mticon-place:before {
	content: "\e684";
}

.mticon-rate-review:before {
	content: "\e685";
}

.mticon-restaurant-menu:before {
	content: "\e686";
}

.mticon-store-mall-directory:before {
	content: "\e687";
}

.mticon-terrain:before {
	content: "\e688";
}

.mticon-apps:before {
	content: "\e689";
}

.mticon-arrow-back:before {
	content: "\e68a";
}

.mticon-arrow-drop-down:before {
	content: "\e68b";
}

.mticon-arrow-drop-down-circle:before {
	content: "\e68c";
}

.mticon-arrow-drop-up:before {
	content: "\e68d";
}

.mticon-arrow-forward:before {
	content: "\e68e";
}

.mticon-cancel:before {
	content: "\e68f";
}

.mticon-check2:before {
	content: "\e690";
}

.mticon-chevron-left2:before {
	content: "\e691";
}

.mticon-chevron-right2:before {
	content: "\e692";
}

.mticon-close2:before {
	content: "\e693";
}

.mticon-expand-less:before {
	content: "\e694";
}

.mticon-expand-more:before {
	content: "\e695";
}

.mticon-fullscreen:before {
	content: "\e696";
}

.mticon-fullscreen-exit:before {
	content: "\e697";
}

.mticon-menu:before {
	content: "\e698";
}

.mticon-more-horiz:before {
	content: "\e699";
}

.mticon-more-vert:before {
	content: "\e69a";
}

.mticon-refresh2:before {
	content: "\e69b";
}

.mticon-unfold-less:before {
	content: "\e69c";
}

.mticon-unfold-more:before {
	content: "\e69d";
}

.mticon-do-not-disturb:before {
	content: "\e69e";
}

.mticon-event-available:before {
	content: "\e69f";
}

.mticon-more:before {
	content: "\e6a0";
}

.mticon-play-download:before {
	content: "\e6a1";
}

.mticon-play-install:before {
	content: "\e6a2";
}

.mticon-sd-card:before {
	content: "\e6a3";
}

.mticon-sim-card-alert:before {
	content: "\e6a4";
}

.mticon-sms:before {
	content: "\e6a5";
}

.mticon-sms-failed:before {
	content: "\e6a6";
}

.mticon-voice-chat:before {
	content: "\e6a7";
}

.mticon-group-add:before {
	content: "\e6be";
}

.mticon-location-city:before {
	content: "\e6bf";
}

.mticon-mood:before {
	content: "\e6c0";
}

.mticon-notifications:before {
	content: "\e6a8";
}

.mticon-notifications-none:before {
	content: "\e6a9";
}

.mticon-people:before {
	content: "\e6aa";
}

.mticon-people-outline:before {
	content: "\e6ab";
}

.mticon-person:before {
	content: "\e6ac";
}

.mticon-person-outline:before {
	content: "\e6ad";
}

.mticon-publ:before {
	content: "\e6ae";
}

.mticon-school:before {
	content: "\e6af";
}

.mticon-share2:before {
	content: "\e6b0";
}

.mticon-check-box:before {
	content: "\e6b1";
}

.mticon-check-box-outline-blank:before {
	content: "\e6b2";
}

.mticon-radio-button-off:before {
	content: "\e6b3";
}

.mticon-radio-button-on:before {
	content: "\e6b4";
}

.mticon-star2:before {
	content: "\e6b5";
}

.mticon-star-half2:before {
	content: "\e6b6";
}

.mticon-star-outline:before {
	content: "\e6b7";
}

