/*
 * Perfect Scrollbar
 * 
*/
.ps-container {
  overflow: hidden !important;

  &.ps-active-x > .ps-scrollbar-x-rail,
  &.ps-active-y > .ps-scrollbar-y-rail {
    display: block;
  }

  .in-scrolling();

  > .ps-scrollbar-x-rail {
    .scrollbar-rail-default();
    bottom: 3px;
    height: 8px;

    > .ps-scrollbar-x {
      .scrollbar-default();
      bottom: 0;
      height: 8px;
    }
  }

  > .ps-scrollbar-y-rail {
    .scrollbar-rail-default();
    right: 3px;
    width: 8px;

    > .ps-scrollbar-y {
      .scrollbar-default();
      right: 0;
      width: 8px;
    }
  }

  &:hover {
    .in-scrolling();

    > .ps-scrollbar-x-rail,
    > .ps-scrollbar-y-rail {
      opacity: 0.6;
    }

    > .ps-scrollbar-x-rail:hover {
      .scrollbar-rail-hover();

      > .ps-scrollbar-x {
        .scrollbar-hover();
      }
    }

    > .ps-scrollbar-y-rail:hover {
      .scrollbar-rail-hover();

      > .ps-scrollbar-y {
        .scrollbar-hover();
      }
    }
  }
}