/*!
 * Waves v0.7.0
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE 
 */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  
  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top:-50px;
    margin-left:-50px;
    opacity: 0;
    background: #000;
    background: rgba(0,0,0,0.2);
    @gradient: rgba(0,0,0,0.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%;
    background: -webkit-radial-gradient(@gradient);
    background: -o-radial-gradient(@gradient);
    background: -moz-radial-gradient(@gradient);
    background: radial-gradient(@gradient);
    .waves-transition(all 0.5s ease-out);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    .waves-transform(scale(0) translate(0,0));
    pointer-events: none;
  }

  &.waves-light .waves-ripple {
    background: #fff;
    background: rgba(255,255,255,0.4);
    @gradient: rgba(255,255,255,0.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%;
    background: -webkit-radial-gradient(@gradient);
    background: -o-radial-gradient(@gradient);
    background: -moz-radial-gradient(@gradient);
    background: radial-gradient(@gradient);
  }
  
  &.waves-classic .waves-ripple {
    background: #000;
    background: rgba(0,0,0,0.2);
  }
  
  &.waves-classic.waves-light .waves-ripple {
    background: #fff;
    background: rgba(255,255,255,0.4);
  }
}

.waves-notransition {
  .waves-transition(none ~'!important');
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}