/**
 * Table of Contents:
 *
 * 1.0 - Normalize
 * 2.0 - Print
*/
.scrollbar-hover {
  background-color: #999;
}
body {
  direction: rtl;
  unicode-bidi: embed;
}
/**
 * Header
 *
*/
.site-header .pull-left {
  float: right !important;
}
.site-header .pull-right {
  float: left !important;
}
/*
 * Site Sidebars
 *
*/
.mt-main-sidebar .mt-sidebar-content {
  right: -300px;
  left: auto;
  -webkit-transition: .4s ease right;
       -o-transition: .4s ease right;
          transition: .4s ease right;
}
.mt-main-sidebar.mt-sidebar-open .mt-sidebar-content {
  right: 0;
}
.mt-shop-sidebar .mt-sidebar-content {
  right: auto !important;
  left: -300px;
  -webkit-transition: .4s ease left;
       -o-transition: .4s ease left;
          transition: .4s ease left;
}
.mt-shop-sidebar.mt-sidebar-open .mt-sidebar-content {
  left: 0;
}
/*
 * Breadcrumbs
 * 
*/
.breadcrumbs {
  right: 57.6px;
  left: 124.8px;
}
.breadcrumbs:after {
  right: auto;
  left: -48px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, #607d8b));
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), #607d8b 50%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0), #607d8b 50%);
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #607d8b 50%);
}
.mt-sep-arrow:before {
  content: "\e691";
}
/**
 * Page Header
 *
*/
.page-title,
.page-description {
  padding-right: 0;
  padding-left: 80px;
}
/**
 * Misc
 * 
*/
.mt-floating-btn {
  float: left;
}
