//
.scrollbar-rail-default() {
  display: none;
  position: absolute;
  border-radius: 4px;
  opacity: 0;
  .transitionTwo(background-color .2s linear, opacity .2s linear);
}

.scrollbar-rail-hover() {
  background-color: @ps-rail-hover;
  opacity: 0.9;
}

.scrollbar-default() {
  position: absolute;
  background-color: @ps-bar-default;
  border-radius: 4px;
  .transition(background-color .2s linear);
}

.scrollbar-hover {
  background-color: @ps-bar-hover;
}

.in-scrolling() {
  
  &.ps-in-scrolling {
    pointer-events: none;
    
    &.ps-x > .ps-scrollbar-x-rail{
      .scrollbar-rail-hover();
      
      > .ps-scrollbar-x {
        .scrollbar-hover();
      }
    }

    &.ps-y > .ps-scrollbar-y-rail {
      .scrollbar-rail-hover();
      
      > .ps-scrollbar-y {
        .scrollbar-hover();
      }
    }
  }
}