.waves-transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition; 
    -o-transition: @transition;
    transition: @transition;  
}

.waves-transform(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}

.waves-box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
}